html, body, #root {
  /* Avoid overflow scrolling */
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  background: var(--gray-1);
  color: var(--gray-12);
  touch-action: manipulation;

  /* Hide scrollbar for Chrome, Safari and Opera */
  ::-webkit-scrollbar {
    display: none;
  }

  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
